.yellow {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;

}

.button1 {
     -fx-padding: 0.35em 1.2em;
     -fx-border: 0.1em solid #FFFFFF;
     -fx-border-radius: 0.12em;
     -fx-box-sizing: border-box;
     -fx-text-decoration: none;
     -fx-font-family: 'Roboto', sans-serif;
     -fx-color: #FFFFFF;
}

a.button1:hover {
     color: #000000;
     background-color: #FFFFFF;
}

a.button2 {
     display: inline-block;
     padding: 0.5em 3em;
     border: 0.16em solid #FFFFFF;
     margin: 0 0.3em 0.3em 0;
     box-sizing: border-box;
     text-decoration: none;
     text-transform: uppercase;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #FFFFFF;
     text-align: center;
     transition: all 0.15s;
}

.button2:hover {
     color: #DDDDDD;
     border-color: #DDDDDD;
}